<!-- Generated template for the Sn1Presec3Component component -->
<ion-grid style="text-align: center">
  <ion-row >
    <ion-col  *ngFor="let room of sn1.H3; let i= index" col-4>
        
      <ion-card (click)="editBuilding(i)" color="light">
        <ion-card-header>
          ครัวเรือนที่ {{i+1}}
        </ion-card-header>
        <div><ion-icon name="ios-home" class="ion-icon"></ion-icon></div>
        <ion-card-content>
           
         {{buildingDetail}}
        </ion-card-content>
      </ion-card>
    
    </ion-col>
    
  </ion-row>
</ion-grid>