<!-- Generated template for the Sn1Presec3Component component -->
<ion-grid style="text-align: center">
  <ion-row >
    <ion-col  *ngFor="let room of sn1.H3; let i= index" col-4>
        
      <ion-card (click)="editBuilding(i)" color="light">
        <ion-card-header>
          ครัวเรือนที่ {{i+1}}
        </ion-card-header>
        <div>
            <ion-col col-md-4>
                <button ion-button icon-only large round class='large_button' (click)="openPopup()" style="background-color:#BEBEBE">
                    <ion-icon name="home"></ion-icon>
                  </button>
            </ion-col>
        </div>
        <ion-card-content>
           
         {{buildingDetail}}
        </ion-card-content>
      </ion-card>
    
    </ion-col>
    
  </ion-row>
</ion-grid>