sn1-sec2 {
    ion-label, .select-text {
        // margin-left: 10px;
        margin-left: 30px;
    }

    ion-input, ion-select, ion-textarea {
        background-color: whitesmoke;
        padding: 5px 10px;
    }
    .button ,ion-button{
       font-size: 25px;

    }
}
